<div class="top_chat">
  <div class="left_header">
    <div class="chat_title">
      <p>hogefuga</p>
    </div>
  </div>
  <div class="right_header">
    <div class="chat_finish">
      <%= link_to 'チャットを終了する' '' %>
    </div>
  </div>
</div>

<div class="center_chat">
  <div class="one_chat">
    <div class="header_chat">
      <div class="user_name_in_chat">
        <p>murakami</p>
      </div>
      <div class="date_of_chat">
        <p>2021/12/20(Mon) 22:39</p>
      </div>
    </div>
    <div class="footer_chat">
      <div class="message_in_chat">
        <p>こんにちは</p>
      </div>
    </div>
  </div>

  <div class="one_chat">
    <div class="header_chat">
      <div class="user_name_in_chat">
        <p>Masaaki</p>
      </div>
      <div class="date_of_chat">
        <p>2021/12/20(Mon) 22:50</p>
      </div>
    </div>
    <div class="footer_chat">
      <div class="message_in_chat">
        <p>hello</p>
      </div>
    </div>
  </div>
</div>

<div class="bottom_chat">
  <div class="message_form">
    <input type="text" placeholder="type a message" class="text_form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden"> 
    </label>
  </div>
  <input type="submit" value="送信" class="send">
</div>