<div class="one_chat">
    <div class="header_chat">
      <div class="user_name_in_chat">
        <%= message.user.name %>
      </div>
      <div class="date_of_chat">
        <%= l message.created_at %>
      </div>
    </div>
    <div class="footer_chat">
      <div class="message_in_chat">
        <%= message.content %>
      </div>
    </div>
  </div>