<div class="side_bar_header">
  <div class="side_bar_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat_btn">
    <%= link_to 'チャットを作成する',new_room_path %>
  </div>
</div>

<div class="side_bar_footer">
  <% current_user.rooms.each do |room| %>
    <div class="room_name">
      <%= link_to room.name, '' %>
    </div>
  <% end %>
</div>