<div class="side_bar_header">
  <div class="side_bar_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat_btn">
    <%= link_to 'チャットを作成する' '' %>
  </div>
</div>

<div class="side_bar_footer">
  <div class="room_name">
    <%= link_to 'test' '' %>
    <%= link_to 'test2' ''%>
  </div>
</div>